* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body {
    margin: auto;
    width: 70%;
}
.container {
    height: 1000px;
    width: 2100px;
    padding-top: 2rem;
    
}
.blocco1 {
    float: left;
    width:33.3%;
    font-size: 1.5rem;
    position: relative;
}
.blocco2 {
    float: left;
    width:33.3%;
    font-size: 1.5rem;
    
}
.blocco3 {
    float: right;
    width:33.3%;
    font-size: 1.5rem;
   
}
.imma1 {
    width: 100%;
    padding-right: 1rem;
}
.imma1:hover {
   content: url(./immagini/1b.webp);
   transform: scale(1.01);
   
}
.imma2 {
    width: 100%;
    padding-right: 1rem;
}
.imma2:hover {
    content: url(./immagini/2b.webp);
    transform: scale(1.01);
}
.imma3 {
    height: 100%;
    width: 100%;
    padding-right: 1rem;
}
.imma3:hover {
    content: url(./immagini/3b.webp);
    transform: scale(1.01);
}
.imma4 {
    width: 100%;
    padding-right: 1rem;
}
.imma4:hover {
    content: url(./immagini/4b.webp);
    transform: scale(1.01);
}
.imma5 {
    width: 100%;
    padding-right: 1rem;
}
.imma5:hover {
    content: url(./immagini/5b.webp);
    transform: scale(1.01);
}
.imma6 {
    height: 100%;
    width: 100%;
    padding-right: 1rem;
}
.imma6:hover {
    content: url(./immagini/6b.webp);
    transform: scale(1.01);
}
.para1 {
    position: absolute;
    bottom: 110px;
    background-color: red;
    font-size: 40px;
    color:white;
}



    